*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

nav {
  transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header {
  border-bottom: 1px solid hsl(0, 0%, 65%);
}

.blob {
  aspect-ratio: 4/3;
  width: 20rem;
  background-color: rgb(111, 0, 255);
  position: absolute;
  right: 10%;
  border-radius: 50%;
}

mark {
  all: unset;
}

footer ul li {
  transition: transform 300ms ease-in-out;
}

a {
  color: inherit;
}

.hidden {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 2rem;
}

.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(190, 190, 190, 0.164);
  border-radius: 2rem;
  display: none;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  display: block;
}

.alorngorspringi {
  animation: spring 1000ms ease infinite;
}

.next {
  color: red;
}

.prev {
  color: green;
}

@keyframes spring {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
