/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

nav {
  transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

* {
  /* outline: 1px solid limegreen; */
  transition: background-color 150ms ease-in;
}

.header {
  border-bottom: 1px solid hsl(0, 0%, 85%);
  backdrop-filter: blur(20px);
}
